In [1]:
import numpy as np
import pandas as pd
from scipy import stats

In [2]:
marketing_costs = [352, 164, 210, 425, 503, 232, 321, 556, 464, 578, 612, 434] 
user_acquired = [7214, 6122, 6896, 8020, 10982, 9021, 9240, 10210, 9987, 11521, 9792, 9852]

ad_df = pd.DataFrame({'Marketing_Costs':marketing_costs, 'User_Acquired':user_acquired})
ad_df

    Marketing_Costs  User_Acquired
0               352           7214
1               164           6122
2               210           6896
3               425           8020
4               503          10982
5               232           9021
6               321           9240
7               556          10210
8               464           9987
9               578          11521
10              612           9792
11              434           9852

In [5]:
cac = ad_df['Marketing_Costs'].sum() / ad_df['User_Acquired'].sum()

In [10]:
print(f'average cost : {(cac * 10000)}')

average cost : 445.6305060767796

In [11]:
ad_df.corr()

                 Marketing_Costs  User_Acquired
Marketing_Costs         1.000000       0.803578
User_Acquired           0.803578       1.000000

In [12]:
result = stats.pearsonr(ad_df.Marketing_Costs, ad_df.User_Acquired)

In [14]:
result[1]

0.0016386012345537505

In [19]:
web_a = pd.DataFrame([20.5, 12.6, 19.5, 18.8, 13.4, 13.5, 17.5, np.nan, 12.8, 17.8, np.nan, 23.1, 10.6, np.nan, 11.5], 
                     columns=['Duration_A'])
web_b = pd.DataFrame([11.8, 10.7, np.nan, 12.5, np.nan, 14.9, 12.1, 13.9, 10.3, 9.0, 13.3, 12.4, 12.5], 
                     columns=['Duration_B'])

df_concat = pd.concat([web_a, web_b], axis=1)

In [18]:
print(web_a.mean())
print(web_b.mean())

Duration_A    15.966667
dtype: float64
Duration_B    12.127273
dtype: float64

In [20]:
df_concat.fillna(10)

    Duration_A  Duration_B
0         20.5        11.8
1         12.6        10.7
2         19.5        10.0
3         18.8        12.5
4         13.4        10.0
5         13.5        14.9
6         17.5        12.1
7         10.0        13.9
8         12.8        10.3
9         17.8         9.0
10        10.0        13.3
11        23.1        12.4
12        10.6        12.5
13        10.0        10.0
14        11.5        10.0

In [24]:
df_concat.dropna()

    Duration_A  Duration_B
0         20.5        11.8
1         12.6        10.7
3         18.8        12.5
5         13.5        14.9
6         17.5        12.1
8         12.8        10.3
9         17.8         9.0
11        23.1        12.4
12        10.6        12.5

In [25]:
web_a = web_a.dropna()
web_b = web_b.dropna()

stats.ttest_ind(web_a.Duration_A.values, web_b.Duration_B.values, equal_var=False)

Ttest_indResult(statistic=3.0165632092150694, pvalue=0.008734970056646718)